{% extends "base.html" %}


{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <br><br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h4 class="display-4">Success!</h4>
            <p>
                Ваше сообщение будет разослано каждому пользователю с вашего Instagram Direct, оставайтесь пожалуйста на странице к завершению рассылки. Предупреждение поскольку это первая рассылка - ваши сообщения будут рассылаться дольше чем обычно.
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}