{% extends "base.html" %}

{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            Назначение этого сайта разослать ваше сообщение каждому пользователю с вашего Instagram Direct.<br>
            Этот сайт не хранит никаких ваших частных сообщений паролей и тому подобное.<br>
            Сайт использует технологию InstagramAPI для входа и рассылки вашего сообщения.<br>
            Для того чтобы разослать сообщения вы обязаны войти на свой аккаунт через наш сайт. <br>
            После вас переведут на страницу где вы сможете ввести сообщение для рассылки.<br>
            После роззсиклы сообщений сайт сообщит вам о том, что сообщение разослано всем
            пользователям с вашего директ.
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}
