{% extends "base.html" %}


{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <br><br>
    <h3>Введите текст сообщения</h3>
    <form method="POST" >
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Send</button>
        {% endbuttons %}
    </form>
    <p>Если вы впервые пользуетесь рассылкой с этого профиля, поставьте пожалуйста галочку в поле <b> "First posting"</b> </p>
    <p><i>Если у вас есть <b>новые сообщения</b> в Direct, поставьте галочку в поле <b> "First posting"</b></i></p>
    <p>После ввода сообщения вас перешлет на страницу рассылки.</p>
</div>

{% endblock %}